{{#each severityTags as |tag|}}
    <span class="integration-summary-tag integration-background-color integration-border-color">
       <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
       <span class="integration-text-color">{{tag}}</span>
    </span>
{{/each}}
{{#each metaTags as |tag|}}
    <span class="integration-summary-tag integration-background-color integration-border-color">
       <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
       <span class="integration-text-color">{{tag}}</span>
    </span>
{{/each}}
{{#each emailTags as |tag|}}
    <span class="integration-summary-tag integration-background-color integration-border-color">
       <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
       <span class="integration-text-color">{{tag}}</span>
    </span>
{{/each}}
{{#each threatTags as |tag|}}
    <span class="integration-summary-tag integration-background-color integration-border-color">
       <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
       <span class="integration-text-color">{{tag}}</span>
    </span>
{{/each}}
{{#each confidenceTags as |tag|}}
    <span class="integration-summary-tag integration-background-color integration-border-color">
       <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
       <span class="integration-text-color">{{tag}}</span>
    </span>
{{/each}}
